
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000000;
}
body{
    overflow: hidden;
}
p{
    color: #000;
    font-size: 14px;
}
::placeholder { 
    color: #ffffff;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
    color: #ffffff;
  }
  
  ::-ms-input-placeholder { 
    color: #ffffff;
  }
p.tes {
    margin: 20px 0 20px 0;
    font-size: 14px;
}
img.account {
    margin: 0 0px 0px 0;
}
p.nab {
    margin: 0 0 0 15px;
    text-align: center;
    font-size: 14px;
    color: #000;
}
a p.nab {
    color: #000;
    position: relative;
}
p.nab img {
    margin: 0 0px 5px 0;
}
img.phone {
    margin: 0px 0px 0 0;
}
input.form-control.delivery {
    height: 50px;
    font-size: 12px;
    padding: 0px 5px;
}
.nav_header{
    background-color: #ce1219;
}
nav ul {
    float: right;
    margin-right: 0px;
    list-style: none;
    position: relative;
    margin-bottom: 0px;
}
nav ul li {
    float: left;
    display: inline-block;
    background: #ce1219;
    margin: 0 5px 0px 0px;
}
nav ul li a {
    color: var(--white-color);
    line-height: 32px;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 15px;
    transition: 0.3s all ease;
}
nav ul li:hover > ul {
    top: 38px;
    opacity: 1;
    visibility: visible;
}
/* nav ul ul ul li {
    position: relative;
    top: -39px;
    left: 250px;
} */
nav ul li ul li ul li {
    position: relative;
    top: 0px;
    left: 0px;
}

nav ul li ul li ul{
    opacity: 0;
    visibility: hidden;
    left: 250px;
}
nav ul li > ul li:hover > ul {
    position: absolute;
    top: -1px;
    
    opacity: 1;
}
nav ul li a:hover {
    color: #fff;
}
/* nav ul li ul li:hover > ul {
    top: 38px;
    opacity: 1;
    visibility: visible;
} */

.fa-chevron-down:before {
    content: "\f078";
    font-size: 11px;
}

.foot-top {
    margin-bottom: 0px;
    padding: 15px 0px;
    background: #d3d3d378;
}
.foot-top img {
    width: 40%;
}
.foot-top p.event{
    color: #000;
    font-size: 14px;
}
.footer_section{
    background-color: #002a5c !important;
}
.footer_section .col-sm-3.other {
    padding-left: 120px;
}
.footer_section .col-sm-3.what {
    padding-left: 40px;
}
.footer_bottom{
    background-color: #000;
    border: 1px solid #000;
}
.border-top {
    border-top: 1px solid #000 !important;
}
.foottext {
    font-size: 13px;
}
.cart_sec.text-right {
    display: flex;
    text-align: right !important;
}
.text-lg-right{
    text-align: right;
}
.logo_sec {
    width: 20%;
}
a.logo-head img {
    width: 100%;
}
.search_product {
    width: 30%;
}
a:hover {
    text-decoration: none;
}


/* Homepage */
.product-offer img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.product-offer .offer-text {
    position: absolute;
    top: 0;
    left: 15px;
    right: 0px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: transparent;
    z-index: 1;
}
.fall_inlove_inner h3{
    font-size: 38px;
    font-weight: 600;
    color: #454242;
    margin-bottom: 30px;
}
.fall_inlove {
    padding: 30px 0px;
}
.nav-link {
    display: block;
    padding: 10px 0px;
    margin: 0px 20px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #e01414;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #e01414;
    background-color: transparent;
    border-bottom: 2px solid #e01414;
}
.fall_inlove_inner ul.nav{
    margin-bottom: 30px !important;
}
.product-item .product-img a{
    display: block;
}
.product-item .product-img img {
    transition: .5s;
    max-height: 230px;
    min-height: 230px;
}
.subcat_sec .product-item .product-img img {
    transition: .5s;
    max-height: 300px;
    min-height: 300px;
}
.text-truncate {
    padding: 0px 10px;
    font-size: 15px;
    color: #000;
    margin: 0 0 2px;
    max-height: 34px;
    min-height: 34px;
    overflow: hidden;
    line-height: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space:inherit;
}

a.btn.btn-outline-dark.btn-square.bluey {
    display: flex;
    align-items: center;
}
a.btn.btn-outline-dark.btn-square.yehr{
    display: flex;
    align-items: center;
}
.product-item:hover .product-action a.botadd {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}
.review_star.mb-1{
    min-height: 32px;
    max-height: 32px;
}
.review_star.mb-1 p {
    margin-bottom: 0px;
}
.right_viewall{
    position:absolute;
    right: 0;
    top: 0;
}
.trending_sec{
    padding: 30px 0px;
}
.trending_sec .section-title{
    margin-bottom: 40px !important;
    color: #000;
}
.btn.btn-primary {
    color: #ffffff !important;
}
.new_arrivals_sec{
    padding: 30px 0px;
}
.new_arrivals_sec .section-title{
    margin-bottom: 40px !important;
}

.perfect_gift_sec {
    background-image: url(../img/bg.jpg);
    height: auto;
    background-size: cover;
    padding: 60px 0px;
}
.perfect_gift_sec .bg-light img{
    width: 100%;
}
span.aname {
    background: #dc3545;
    border: 1px solid #dc3545;
    padding: 30px;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    line-height: 20px;
}
p.clicl {
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 0px 0px 0px 15px;
}
.test-img {
    margin: 0px 0 0 0;
}
.test-img {
    padding: 20px;
    margin: 0px 0 0 0;
    box-shadow: 0px 1px 11px #ccc;
    border-radius: 30px;
    background-color: #fff;
}
.test-img:hover{
    background-color: #dc3545;
    color: #fff;
    transition: all 0.3s;
}
.test-img:hover span.aname {
    background-color: #f6d2d2;
    color: #000;
}
.test-img:hover span.our {
   color: #fff;
}
.test-img:hover p.clicl {
    color: #fff;
}
.test-img:hover p{
    color: #fff;
}


.block1_img{
    width: 100%;
    border-radius: 5px;
    max-height: 200px;
    min-height: 200px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 0 10px #bfbfbf;
    float: left;
}
.block1_img img{
    width: 100%;
}
.block1_text {
    text-align: center;
    color: black;
    margin: 0 0 0 0px;
    font-family: 'Mulish', sans-serif;
}
.cat_block_inner {
    margin-bottom: 40px;
}

.you_mayalso .section-title {
    margin-bottom: 40px !important;
}

a.btn.btn-outline-dark.btn-square.botadd{
    display: flex;
    align-items: center;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 30px 0px;
    background-color: transparent;
}

p.sortb {
    margin-bottom: 0px;
    color: #000;
}
.sortbar_tab__3Bhn-{
    padding: 8px 15px;
    color: #000;
}
a#sidebarCollapse {
    color: #c1272d;
    margin-left: 0px;
    margin-top: 10px;
}
.blog .blog-pagination {
    color: #024ed5;
    margin-bottom: 30px;
}
.blog-pagination nav{
    background-color: transparent;
}
.blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
    background: transparent;
}

.page-item.disabled .page-link {
    color: #012970;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    font-size: 13px;
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.blog .blog-pagination li a {
    color: #012970;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    font-size: 13px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #c2272d;
    border-color: #c2272d;
    font-size: 13px;
}
.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
    background: #c2272d;
}
.page-link:hover {
    z-index: 2;
    color: #e6b400;
    text-decoration: none;
    background-color: #c2272d;
    border-color: #c2272d;
    border-radius: 0px;
}
.facelog {
    margin-left: 0px !important;
    width: 100% !important;
    height: 50px;
    padding: 4px 5px;
    border: 1px solid lightgray;
    box-shadow: 2px 0px 5px 0px grey;
    display: flex;
}
.swiper-pagination-bullet {
    margin-right: 5px
}
.swiper-pagination span{
    padding-left: 8px;
}
.swiper-pagination{
    left: 50%;
    transform: translateX(-50%);
}

.half-color-box {
    background: var(--gradient);
    height: 350px;
    margin-bottom: 300px;
    margin-top:0px !important;
}
.blog .entry .entry-img{
    text-align: center;
}
.blog .entry .entry-img img{
    width: 100%;
}
.newuser {
    color: #28abe2 !important;
    padding: 4px 0px 0px 11px;
}
a.forgot_text{
    color: #000;
    font-weight: 500;
}

.loginbox {
    border: 0px solid lightgray !important;
    box-shadow: 0px 1px 18px #00000026 !important;
    padding: 14px;
    margin: 10px 21px 10px 20px;
}

.myaccount-tab-menu.nav-tabs {
    background-color: #f5f5f5;
    border: 0px solid #dee2e6;
    font-size: 18px;
    box-shadow: 0px 0px 15px #dee2e6;
}
.myaccount-tab-menu.nav-tabs .nav-link{
    margin: 0px;
}

.shop-ccc {
    margin-bottom: 30px;
}
h1.shopping-crt {
    text-align: center;
    margin: 0 0;
    padding: 20px 20px;
}
.shop-ccc .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    box-shadow: 0px 1px 10px #dee2e6;
}
.dashboard-box {
    padding: 1.25rem;
    box-shadow: 0px 1px 10px #dee2e6;
}
.form-group {
    margin-bottom: 1rem;
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
}
.form-group label{
    color: #000;
    font-size: 16px;
}

.form-control{
    color: #000;
}
.navigation-box a {
    background: #FFF;
    border: 1px solid #eeeeee;
    padding-bottom: 15px;
    color: #555555;
    text-transform: none;
    letter-spacing: unset;
    font-size: 18px;
    padding: 20px 0;
    display: block;
    text-align: center;
    margin: 10px 0px;
}

.blog .entry .entry-content .read-more a {
    display: inline-block;
    background: #c2272d;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}
.blog .entry .entry-content .read-more a:hover {
    background: #a5191e;
}
.blog .entry .entry-content p {
    font-size: 14px;
    color: #000;
}
.blog .entry .entry-title a {
    color: #012970;
    transition: 0.3s;
    text-transform: capitalize;
}
.blog .entry .entry-meta a{
    color: #000;
}
.blog .sidebar .sidebar-title{
    font-weight: 600 !important;
}
.blog .sidebar .recent-posts h4 a{
    text-transform: capitalize;
}
.blog .sidebar .recent-posts time{
    color: #000;
    font-size: 12px;
}
.shop-ccc .dashboard-box .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px;
    box-shadow: none;
}
.shop-ccc .text-right{
    text-align: right !important;
    display: block;
}

p.inv_text{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    box-shadow: none;
    margin-bottom: 20px;
}
p.inv_text span{
    display: block;
    font-size: 14px;
    font-weight: 500;

}
a.btnprn.btn {
    color: #000;
    padding-right: 0px;
}
p.add_text{
    color: #000;
    margin-top: 20px;
}
.ship_info p{
    color: #000;
}
.payment_info p{
    color: #000;
}
.payment_info p span{
    color: #000 !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    font-size: 14px;
    color: #000;
    box-shadow: none;
}
.table tbody td {
    font-size: 14px;
    color: #000;
    box-shadow: none;
    vertical-align: middle;
}
.table tbody td p{
    margin-bottom: 5px;
}
.table tbody td p strong{
    font-weight: 600;
}
.dashboard-box .table tbody tr td a{
    max-height: 34px;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
    display: block;
    white-space: inherit;
    width: 200px;
    color: #c2272d;
    font-size: 11px !important;
}
.grand_total p{
    color: #fff;
    font-size: 18px;
    align-items: center;
}
.grand_total p span{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-left: 10px;
}
.table thead th:first-child{
    text-align: left;
}
.table tbody td:first-child{
    text-align: left;
}
.table tbody td a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
}
.table tbody td a.view_order_a{
    color: #c2272d;
    font-size: 12px;
    margin-top: 0px;

}
button.btn.btn_remove {
    padding: 5px 8px;
    background: #c2272d;
    border-radius: 4px;
    line-height: 10px;
    width: auto;
}
.proceed_btn{
    border-radius: 0px !important;
    margin-left:  0px !important;
    margin-right: 0px !important;
}
.table th, .table td{
    padding: 10px;
}
.checkout_sec .inputclass {
    width: 100%;
    padding: 12px 15px !important;
    border: 1px solid #dddddd !important;
    margin: 10px 0px;
    font-size: 14px;
    box-shadow: 0px 0px 4px #dcd2d2 !important;
    height: auto;
}
.checkout_sec .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 5px solid #c2272d;
    outline: 0px solid #000;
    box-shadow: none;
}
.pcss {
    color: #000;
    font-size: 15px !important;
    margin-bottom: 0px !important;
    font-weight: 600;
}
.orderhead {
    color: #000000 !important;
    font-weight: 400 !important;
    margin-top: 30px;
    margin-bottom: 20px;
}
.shop-ccc .orderpara {
    color: #000 !important;
    padding: 0px !important;
    font-size: 16px !important;
}
.pcss1 {
    font-size: 14px !important;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px !important;
}
p.pd {
    color: #000;
    font-weight: 500;
}
p.price {
    color: #000;
    font-weight: 600;
    margin-bottom: 0px;
}
.pcss3 {
    font-size: 18px;
    color: #000;
    text-align: left !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}
.pcss4 {
    font-size: 18px;
    color: #c2272d;
    text-align: left !important;
    font-weight: 700;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}
summary {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 6px 0px 6px 0px;
    color: #191717;
    font-weight: 600;
    background: #fff;
    border-radius: 6px;
    border: 0px solid #1052a2;
    box-shadow: 0px 0px 4px #ccc;
    cursor: pointer;
    list-style-type: none;
}
details{
    background-color: #fff;
}
.details-info {
    border: 0px solid #1052a2;
    box-shadow: 0px 0px 4px #ccc;
}
.btn.btn-primary-submit{
    margin: 0px !important;
}
.btn.btn-primary-submit:hover{
    color: #ffffff;
}
.post-item {
    margin-bottom: 15px;
}
.blog .sidebar .recent-posts h4 a {
    font-size: 13px;
    line-height: 18px;
    text-transform: capitalize;
    text-shadow: none;
}
.blog .entry .entry-title a {
    color: #012970;
    transition: 0.3s;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    text-shadow: none;
}

.blog .sidebar .categories ul a {
    color: #012970;
    transition: 0.3s;
    font-size: 13px;
    line-height: 18px;
}
.color_black{
    color: #000 !important;
}
.shop-ccc label{
    color: #000;
}
.breadcolor {
    margin: 0px 0px 0px 0px !important;
    background: lightgray;
}

.content_sect p{
    color: #000;
    font-size: 15px;
}
.inn-page p{
    color: #000;
}
.dashboard-box p a{
    color: #c2272d;
    font-weight: 600;
}
.filter_section {
    padding: 10px;
    box-shadow: 0px 1px 10px #ccc;
}
.vendors-list {
    box-sizing: border-box;
    width: 15.2857%;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.vendors-list.ven_last .custom-style{
    margin-bottom: 10px;
}
.vendors-list.scroll {
    overflow-y: hidden;
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
}
.custom-style label{
    color: #000;
}
.desc_sec_details .nav-tabs{
    background-color: #ededed;
    border: none;
}
.desc_sec_details .nav-tabs .nav-link{
    font-size: 16px;
}
.desc_sec_details .nav-tabs .nav-link.active, .desc_sec_details .nav-tabs .nav-item.show .nav-link{
    background-color: transparent;
    color: #eb252c !important;
}
.desc_sec_details .nav-tabs .nav-link:hover, .desc_sec_details .nav-tabs .nav-link:focus {
    border-color: transparent;
    color: #eb252c !important;
    border-bottom: 2px solid #eb252c;
}

.desc_sec_details .btn.btn-primary{
    background-color: #c2272d !important;
    border-color: #c2272d;
}
.col-lg-5.product-imgs.mrtp {
    margin: 0px 0 0 0 !important;
}
.product-content .product-title {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    position: relative;
    color: #000000;
    margin: 0px 0 10px 0;
    display: block;
    padding: 0px 0px 10px 0px;
    line-height: 30px;
}
.product-content .product-rating {
    color: #ffc107;
    text-align: right;
    font-size: 12px;
    margin: 0px 0 0px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.product-content .product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #12263a;
}
.product-price .fomright {
    text-align: center;
    margin: 0px 0 0 0px;
}

.product-content .product-price {
    margin: 0 0 20px 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-content .img_upload_sec {
    margin-bottom: 0px;
}
.product-content .img_upload_sec h5{
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}
.product-content .img_upload_sec p input{
    font-size: 13px;
}
.product-content .inputclass11 {
    width: 100%;
    background: transparent;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin: 0px 0px;
    font-size: 15px;
    color: #000;
    box-shadow: 0px 1px 4px #ccc;
}
h5.song {
    margin: 0px 0 -6px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
.pincode_sec.px-0.loc-align {
    margin-bottom: 0px;
}
/* .pincode_sec {
    margin-bottom: 20px;
} */
.pincode_sec .input-group-append1 {
    background: transparent;
    margin:0px;
    padding: 0px 0px;
    border-radius: 4px 0px 0px 4px; 
    color: black;
    box-shadow: 0px 1px 10px #dcd2d2 !important;
}
.pincode_sec .check{
    margin-bottom: 20px;
}
.pincode_sec .input-group-append1 i{
    font-size: 20px;
}
.pincode_sec input.form-control {
    border-radius: 0px 0px 0px 0px; 
    height: 43px;
}
.pincode_sec input.form-control:focus {
    background-color: transparent !important;
}
.inputclass {
    width: 100%;
    padding: 15px 17px;
    border: 1px solid #c7c1c1;
    margin: 10px 0px;
    font-size: 15px;
    box-shadow: 0px 1px 10px #dcd2d2 !important;
}
.comment_sec h5{
    font-size: 16px;
    color: #000;
    margin-bottom: 0px;
}
.product-content .logbtn{
    font-size: 16px !important;
}
#logoimage_preview {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}
#logoimage_preview .img-divv {
    position: relative;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    margin: 0px;
}

#uploadimage_preview {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}
#uploadimage_preview .img-div {
    position: relative;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    margin: 0px;
}
.btn.btn-primary {
    color: #e6e9eb !important;
    background-color: #c2272d !important;
    border-color: #c2272d;
    border-radius: 6px;
    margin-left: 6px;
    margin-right: 0px;
    font-family: 'Mulish', sans-serif;
}
.datecss{
    margin-bottom: 20px;
}
.gift_wrap .gift{
    font-size: 16px;
    color: #000;
    padding-left: 0px;
}
.gift_wrap h5{
    font-size: 16px;
    color: #000;
    padding-left: 0px;
}
.gift_wrap p span{
    font-size: 14px;
    color: #000;
    padding-left: 0px;
}
.col-lg-5.product-imgs.mrt {
    margin: 0px 0 0 0 !important;
}
.inputclass12 {
    width: 100%;
    background: #fff;
    padding: 10px 10px !important;
    border: 1px solid #c7c1c1;
    margin: 0px 0px !important;
    font-size: 15px;
    box-shadow: 0px 1px 10px #dcd2d2 !important;
}
.desc_sec_details .tab-content{
    min-height: 150px;
}

.float2 {
    position: fixed;
   width: 43px;
   height: 43px;
   bottom: 33%;
   right: 2%;
   z-index: 12;
}
.float1 {
   position: fixed;
   width: 43px;
   height: 43px;
   bottom: 24%;
   right: 2%;
   z-index: 13;
}
.float {
   position: fixed;
   width: 43px;
   height: 43px;
   bottom: 15%;
   right: 2%;
   background-color: #c2272d!important;
   color: #374047;
   border-radius: 50px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   z-index: 11;
}
.my-float {
   margin-top: 0px;
   font-size: 20px;
   color: #fff;
}
.back-to-top {
   position: fixed;
   display: none;
   right: 2%;
   bottom: 5%;
   z-index: 11;
   animation: action 1s infinite alternate;
}
.form_title{
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    position: relative;
    color: #000000;
    margin: 0px 0 20px 0;
    display: block;
    padding: 0px 0px 10px 0px;
    line-height: 30px;
}

.ship_addres .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #383838;
    outline: 0px solid #000;
    box-shadow: none;
    transition: all .2s;

}

.shipping_addbox {
    padding: 20px;
    border: 1px dashed #c2272d;
}
.shipping_addbox p span {
    display: block;
}
.shipping_addbox p.add_right {
    color: #c2272d;
    font-weight: 500;
}

.saved_address {
    padding: 0px;
    border: 1px dashed #ccc;
    margin-bottom: 30px;
}
.saved_head {
    padding: 15px;
    background-color: #ececec;
}
.saved_head p {
    margin-bottom: 0px;
    font-weight: 600;
}
.saved_head p span {
    background-color: #c2272d;
    color: #fff;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 10px;
}
.saved_body {
    padding: 15px;
    max-height: 180px;
    min-height: 180px;
}
.saved_body p {
    margin-bottom: 0px;
}
.saved_body p span {
    display: block;
    margin-bottom: 10px;
}
.saved_body p span label {
    margin-bottom: 0px;
}
.saved_footer {
    padding: 15px;
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
}
.saved_footer button{
    border: none;
    font-size: 14px;
    color: #c2272d;
}
.saved_footer a {
    font-size: 14px;
    color: #c2272d;
}
a.add_new_add {
    color: #c2272d;
    margin-top: 0px;
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.boxed {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.boxed label {
    background: #f4f4f4;
    color: black;
    display: inline-block;
    width: 100% !important;
    padding: 10px;
    border-radius: 4px;
    border: none;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}
.boxed label:last-child {
    margin-right: 0px;
}
a:hover{
    color: #c2272d;
}

.custom-control.custom-radio.custom-control-inline.al-lft {
    margin: 0 10px 0 52px;
}
.fomright input[type='radio'] {
    width: 24px;
    height: 24px;
    margin: 5px 0px 5px 0px;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    margin: 0 0 0 0px;
    font-size: 16px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    color: #000;
}
.custom-control-label::before {
    position: absolute;
    top: 0.6rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}
img.egg {
    width: 24px;
    height: 24px;
    margin: 0 12px 0 0px;
}
img.eggless {
    width: 24px;
    height: 24px;
    margin: 0 12px 0 0px;
}
.custom-control-label::after{
    top: 0.6rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #c2272d;
    background-color: #c2272d;
}

.timecss {
    width: 100%;
    padding: 10px 20px;
    color: #000;
    background: #F2F2F2;
    border-radius: 5px;
    border: none;
    height: 54px;
}
.datecss {
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background: #c2272d;
    border-radius: 5px;
    border: none;
    height: 54px;
}
label.slect-varient {
    margin: 0px 0 6px 0;
    color: black;
    font-size: 18px;
}
.img-display {
    overflow: hidden;
    box-shadow: 0px 1px 33px #ddd;
}
.img-display img{
    width: 100%;
}
.img-showcase img {
    min-width: 100%;
    max-width: 100%;
}
.img-select {
    margin: 10px 0px;
    display: flex;
    width: 100% !important;
}
.img-item img {
    width: 100% !important;
    margin: 0rem;
    max-height: 110px;
}
.img-item{
    box-shadow: 0 0 5px #ddd;
}
.img-item:first-child {
    margin-left: 0 !important;
}
.img-item:last-child {
    margin-right: 0 !important;
}
.custom-control{
    padding-left: 0px;
}
.custom-control input[type='radio'] {
    width: 24px;
    height: 24px;
    margin: 5px 0px 5px 0px;
}
.custom-control.pickupp{
    margin-bottom: 20px !important;
}

.social-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.text-primary1{
    border: none;
}
.pincode_sec input.form-control{
    border: none;
}
.breadcrumb-item{
    font-size: 14px;
}
#nonvegprice #tprice {
    margin-bottom: 20px;
    color: #000;
}
span.char {
    float: right;
    font-size: 13px;
    color: grey;
    margin: 0px 0 0 0;
}
h5.song {
    margin: 0px 0 10px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.input-group-btn button:focus{
    outline: unset;
}
h4.qun {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Mulish', sans-serif;
    position: relative;
    color: #12263a;
    margin: 10px 0 10px 0;
}
.inputclass:focus-visible{
    outline: unset;
}
.product-content .inputclass11:focus-visible{
    outline: unset;
}
button.havedesign {
    background-color: #29ab1b;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 7px 20px;
    width: auto;
    font-size: 14px;
    margin-bottom: 20px;
}
.gst {
    color: #000;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;
}
.preview input[type='radio']{
    height: 30px;
    width: 30px;
    margin: 0px 15px 0px 0px;
}
.form-group h5{
    font-size: 16px;
    color: #000;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #c2272d !important;
    color: #fff;
    font-size: 1.0625em;
    border-color: #c2272d !important;
}
.swal2-styled:focus{
    box-shadow: none !important;
}
.swal2-content{
    padding: 0px 10px !important;
}
.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em !important;
}
.swal2-icon {
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 0.25em auto 0.5em !important;
    border: 0.25em solid transparent;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 25% !important;
    max-width: 100%;
    padding: 1.25em !important;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}
button:focus{
    outline: unset;
}
button.logbtn1 {
    background-color: #c2272d;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #ddd;
    margin-left: 10px;
}
.address_type{
    margin-bottom: 20px;
}
.form-check input[type="checkbox"]{
    display: block;
}
.form-check{
    margin-bottom: 20px;
}
.address_type input[type='radio'] {

    width: 20px;
    height: 20px;
    margin: 3px 8px 0px 0px;
    position: relative;
    float: left;
    display: inline;
    top: 0;
    border-radius: 19px;
    z-index: 99999;
    cursor: pointer;
    border: 5px solid #ccc;
}
.address_type input[type='radio']:checked{
    color: #495057;
    background-color: #fff;
    border: 5px solid #c2272d;
    outline: 0px solid #000;
    box-shadow: none;
}

.login-form-content input[type='radio'] {

    width: 20px;
    height: 20px;
    margin: 3px 8px 0px 0px;
    position: relative;
    float: left;
    display: inline;
    top: 0;
    border-radius: 19px;
    z-index: 99999;
    cursor: pointer;
    border: 5px solid #ccc;
}
.login-form-content input[type='radio']:checked{
    color: #495057;
    background-color: #fff;
    border: 5px solid #c2272d;
    outline: 0px solid #000;
    box-shadow: none;
}
.address_type .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 5px solid #c2272d;
    outline: 0px solid #000;
    box-shadow: none;
}


.loginbox input[type='radio'] {

    width: 20px;
    height: 20px;
    margin: 3px 8px 0px 0px;
    position: relative;
    float: left;
    display: inline;
    top: 0;
    border-radius: 19px;
    z-index: 99999;
    cursor: pointer;
    border: 5px solid #ccc;
}
.loginbox input[type='radio']:checked{
    color: #495057;
    background-color: #fff;
    border: 5px solid #c2272d;
    outline: 0px solid #000;
    box-shadow: none;
}
.swal2-actions {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto 0 !important;
}
.swal2-styled.swal2-confirm{
    font-size: 16px !important;
    padding: 6px 20px !important;
}
.swal2-content{
    font-size: 14px !important;
}
.swal2-title{
    font-size: 24px !important;
}

.review_items_inner {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #cccccc85;
}

.btn-num-product-down {
    padding: 5px 8px;
    background: #c2272d;
    border-radius: 4px;
    line-height: 10px;
    width: auto;
}

.btn-num-product-down a{
    color: #fff !important;
    margin-top: 0px !important;
}

.btn-num-product-up {
    padding: 5px 8px;
    background: #c2272d;
    border-radius: 4px;
    line-height: 10px;
    width: auto;
}

.btn-num-product-up a{
    color: #fff !important;
    margin-top: 0px !important;
}

.num-product{
    margin: 0px 2px;
    text-align: center;
}
.page-link {
    font-size: 13px;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.login-form-content nav{
    background-color: transparent;
}
.login-form-content .page-link:hover{
    color: #fff;
}
.myaccount-tab-menu.nav-tabs .nav-link i{
    margin-right: 10px;
}

.preview input[type='radio']:checked{
    border: 6px solid #fff;
    outline: 2px solid #ce1219;
}
.continue_shop a{
    color: #ce1219;
}
.continue_shop a:hover{
    font-weight: 600;
}
.myaccount-tab-menu.nav-tabs .nav-link:hover{
    background-color: #ce1219;
    color: #fff;
    transition: all .2s;
}
.toggle-password {
    position: absolute;
    top: 55%;
    right: 15px;
}

.navigation-box i {
    margin-right: 10px;
    
}
.navigation-box a:hover{
    background-color: #ce1219;
    color: #fff;
}

@media only screen and (max-width: 600px){
    .container {
        padding: 0px 9px;
    }
}

@media (min-width: 992px){
.cat_blocks .col-lg-2 {
    flex: 0 0 20%;
    max-width: 20%;
}
}